main {
  background-image: url("../img/fondo-manchas.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.video-background {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* Proporción 16:9 */
  overflow: hidden;
}

.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-foreground iframe {
  width: 100%;
  height: 100%;
}


/* Estilos para el grid principal */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px;
}

.intro {
  background: rgba(44, 44, 44, 0.8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
}

.intro p {
  padding: 0 0.2rem;

}

.intro h2 {
  text-align: center;
  font-size: 500%;
  margin-top: 0;
}

.intro-item {
  margin: 0 1rem;
}


/* Estilos para el bloque de equipo */
.equipo-container {
  background: rgba(65, 65, 65, 0.8);
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */


}

a {
  color: white;
}

.equipo-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /*   justify-items: center; */
  background: rgba(65, 65, 65, 0.8);
  padding: 1rem;

}

.equipo-grid-container2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  /*   justify-items: center; */
  background: rgba(65, 65, 65, 0.8);
  padding: 1rem;
  justify-items: center;
}

.equipo-grid-container2 p {
  padding: 0 0.5rem;
}

.equipo-grid-container2 img {
  width: 50%;
}

.equipo-grid-item {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 0.5rem;
  border-radius: 8px;
}

.equipo-grid-item img {
  display: block;
  margin: 0 auto;
  max-width: 80px;
  height: auto;


}

.equipo-grid-item div {
  text-align: center;
}

.equipo-grid-item h3 {
  margin: 10px 0 5px;
}

.equipo-grid-item ul {
  list-style-type: none;
  padding: 0;
}

.equipo-grid-item ul li {
  margin-bottom: 5px;
}

.equipo-grid-item ul li a {
  color: rgb(93, 169, 182);
  text-decoration: none;
}


/* Media Queries */
@media (max-width: 768px) {

  .intro {
    grid-template-columns: repeat(1, 1fr);
  }

  .intro h2 {
    text-align: left;
    font-size: 200%;
    margin: initial;

  }

  .grid-container {
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 8px;
  }



  .equipo-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    /*   justify-items: center; */
  }

  .equipo-grid-container2 img {
    width: 100%;
  }
}